/* Color Palette */
body {
  font-family: "Scala Sans", sans-serif;
  width: 100%;
  height: 100%;
}
#calendarContainer {
  overflow: auto;
  height: 450px;
}
table#calendar {
  display: inline-block;
  border-collapse: collapse;
}
td.weekdayTitle {
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
  font-size: 14pt;
  text-align: center;
  font-weight: 200;
  width: 150px;
  padding-top: 3px;
  vertical-align: middle;
}
td.weekendTitle {
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
  font-size: 14pt;
  text-align: center;
  font-weight: 200;
  color: #aaaaaa;
  width: 150px;
  padding-top: 3px;
  vertical-align: middle;
}
#calEventsContainer {
  height: 600px;
  overflow: scroll;
  border: 1px solid #aaaaaa;
}
#calEvents {
  table-layout: fixed;
  border-collapse: collapse;
}
.hourMarker {
  vertical-align: super;
  text-align: right;
  font-weight: 200;
  font-size: 20px;
  color: #aaaaaa;
}
#hour12 {
  font-weight: 400;
  color: black;
}
td.hourSlot {
  position: relative;
  border: 1px solid #aaaaaa;
  border-collapse: collapse;
  width: 150px;
  height: 80px;
  overflow: visible;
}
.event {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid #02b881;
  overflow: hidden;
  padding: 5px;
  background-color: #71eeb8;
  color: black;
  box-sizing: border-box;
  border-radius: 3px;
}
.eventOther {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid #02b881;
  overflow: hidden;
  padding: 5px;
  background-color: #dbdbdb;
  color: #666666;
  box-sizing: border-box;
  border-radius: 3px;
}
.eventSelected {
  background-color: #19235d;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid #19235d;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
}
div.eventContainer {
  overflow: hidden;
}
.eventTitle {
  display: block;
  margin-bottom: 2px;
}
.eventStart {
  display: block;
}
/* Style for add event window */
#addEventWindow {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 1;
  padding: 20px;
  background-color: #aaaaaa;
}
.eventInputField {
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  border: solid;
  border-width: 2px;
  border-color: #02b881;
}
#eventInputTitle {
  width: 100%;
}
#eventInputStart,
#eventInputEnd {
  display: inline-block;
}
#eventInputCalsCont {
  width: 100%;
  margin: 10px;
}
/* Event edit window styles */
.eventEditWindow {
  position: absolute;
  top: 25%;
  left: 25%;
  border-color: #aaaaaa;
  border-width: 1px;
  border-radius: 4px;
  border: solid;
  z-index: 1;
  padding: 10px;
  background-color: white;
}
.eventEditChild {
  margin: 5px 0px;
  display: block;
}
/* Group event styles */
#planGroupEventPanel {
  display: inline-block;
  position: absolute;
  float: right;
  background-color: #19235d;
  color: white;
  z-index: 2;
  padding: 10px;
}
.groupEventInput {
  margin: 15px;
}
#groupEventInputTitleCont {
  width: 100%;
}
#participantsTitle {
  display: inline-block;
}
#inputParticipantsContainer {
  display: inline-block;
}
.ghostEvent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  padding: 5px;
  background-color: #02b881;
  color: #666666;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 2;
}
